<h3>Bridal Shower: Alice in Wonderland</h3>
<div class="column">
<%= image_tag "bridal_1.png", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "bridal_2.png", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "bridal_3.png", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
</div>
