<h3>Engagement Party: A lighter affaire</h3>
<div class="column">
<%= image_tag "engagement_1.jpg", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "engagement_2.jpg", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "engagement_3.jpg", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "engagement_4.jpg", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
</div>
