<h3>Wedding Centerpieces: A forest Fairytale</h3>
<div class="column">
<%= image_tag "wedding_1.png", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "wedding_2.png", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "wedding_3.png", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
<%= image_tag "wedding_4.png", alt: "Engagment Party: A lighter affair", style: "height: 700p; width: 700px;"%>
</div>
