/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 #nav a {
       background: white;
       height: 28px;
       width: 130px;
       font-family: "Book Antiqua";
       font-size: 20px;
       text-align: center;
       color: #C60;
       text-decoration: none;
       background-position: left;
       margin: auto;
       display: inline-block;
       position: relative;
   }

   .wrapper {
  background: #ffd700;
  opacity: 0.8;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 10px auto;
  max-width: 700px;
  padding: 1.25%; /* 18px / 800px */
  width: 85%;
  text-align: center;
  image-orientation: center;
}
